<main style="margin-top: 150px;">
    <!--<label for="frutas">Escolha suas frutas favoritas:</label>
  <select id="frutas" name="frutas" multiple>
    <option value="maca">Maçã</option>
    <option value="banana">Banana</option>
    <option value="laranja">Laranja</option>
    <option value="uva">Uva</option>
    <option value="morango">Morango</option>
  </select>

  <script>
    // Adiciona um ouvinte de eventos ao elemento select
    document.getElementById('frutas').addEventListener('change', function() {
      // Obtém os elementos selecionados e os armazena para uso posterior
      let selectedValues = Array.from(this.selectedOptions).map(option => option.value);

      // Exibe os valores selecionados no console (você pode fazer o que quiser com eles aqui)
      console.log(selectedValues);
    });
  </script>-->
</main>
